*{
    margin: 0;
    padding: 0;
}
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}
ul,li {
	list-style: none;
}
.hearder{
    width: 100%;
    height: 1.3rem;
    background: #1348AE;
    display: flex;
}
.hearder-1{
    width:20% ;
    height: 100%;
    /* background: palegreen; */
}
.hearder-2{
    width: 60%;
    height: 100%;
    /* background: paleturquoise; */
    text-align: center;
    line-height: 1.3rem;
    color: white;
    font-size: 0.3rem;
}
.hearder-1 img{
    width:0.5rem ;
    height:0.5rem ;
    text-align: center;
    margin-top: 0.3rem;
    margin-left: 0.3rem;
}
.ssk{
    width: 100%;
    height: 1rem;
    background:  #1348AE;
   
}
.ssk1{
    width: 90%;
    height: 0.7rem;
    background: #1348AE;
    border-radius: 0.35rem;
    display: flex;
    margin-left: 5%;
    border: 1px whitesmoke solid;
}
.ss{
    width: 15%;
    height: 0.7rem;

}
.ss img{
    width: 60%;
    height: 0.6rem;
}
.ssk2{
    width: 80%;
    height: 0.7rem;
}
.k{
    width: 90%;
    height: 0.6rem;
    outline: none;
    border: none;
    font-size: 0.3rem;
    color: white;
    background:  #1348AE;
}


.box{
    display: flex;
}
.container{
    height: 8rem;
    /* line-height: 50px; */
    text-align: center;
    width: 20%;
}
.list{
    width: 100%;
    /* float: left; */
    height: 1.5rem;
    font-size: 0.3rem;
    font-weight: 550;
    color: gray;
}
.inner{
    width: 75%;
    height: 14rem;
    /* border: 1px solid red; */
     position: relative;
}
.list-item{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 8rem;
    text-align: center;
    display: none;
}
.list-item:first-child{
    display: block;
}
.active{
     /* color:#1348AE;  */
    border-left: 3px solid orangered;
}
.list img{
    width: 0.8rem;
    height: 0.6rem;
    margin-top: 10%;
}
.tp{
    width: 100%;
    height: 3.2rem;
    display: flex;
    margin-bottom: 0.2rem;
}
.guonei{
    width: 2.8rem;
    height:3.2rem ;
    /* background: palegoldenrod; */
    border: 0.2px gray solid;
    margin-right: 0.1rem;
}
.guonei img{
    width: 2.8rem;
    height: 2.5rem;
}
.db{
    width: 100%;
    height: 1.3rem;
    background:#EEEEEE;
    color:#969696;
    
     position: fixed;
    bottom: 0; 
    display: flex;
    justify-content: space-around
}
.db1 img{
    width: 0.7rem;
    height: 0.6rem;
}