* {
    margin: 0;
    padding: 0;
}

.jewarp-head {
    position: relative;
}

.clear::after {
    display: block;
    content: '';
    visibility: hidden;
    height: 0;
    clear: both;
}

.jewarp .gray {
    background: #1348AE;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.jewarp .gray p {
    position: absolute;
    right: .4rem;
}

.jewarp .gray p a {
    color: #fff;
    font-size: .28rem;
}

.jewarp .gray,
.content {
    text-align: center;
    margin: 0 auto;
}

.total-count {
    margin: .4rem;
    background: #fff;
}

.total-count .parent-price {
    display: flex;
    position: relative;
}

.total-count .parent-price .price-p {
    color: #F9841D;
}

.total-count .parent-price .count-p {
    position: absolute;
    right: .6rem;
    border: .02rem solid #999;
}

.total-count .parent-price .count-p span {
    display: inline-block;
    text-align: center;
    width: .4rem;
    height: .4rem;
}

.total-count .parent-price .count-p .num-p {
    border-top: none;
    border-bottom: none;
    width: .6rem;
    text-align: center;
}

.total-count .children-count {
    display: flex;
    position: relative;
}

.total-count .parent-price .price-p {
    color: #F9841D;
}

.total-count .children-count .count-c {
    position: absolute;
    right: .6rem;
    border: .02rem solid #999;
}

.total-count .children-count .count-c span {
    display: inline-block;
    text-align: center;
    width: .4rem;
    height: .4rem;
}

.total-count .children-count .count-c .num-c {
    border-top: none;
    border-bottom: none;
    width: .6rem;
    text-align: center;
}

.child label span {
    color: #999;
}

.ico-tip {
    display: inline-block;
    background: url(../images/date/wr.png);
    width: .5rem;
    height: .5rem;
    vertical-align: middle;
}

.message {
    font-size: .26rem;
}

.message * {
    float: left;
}

.txt {
    display: inline-flex;
    flex-direction: column;
}

.msg-tip {
    color: #F9841D;
}

.t-a {
    display: inline-flex;
}

.message .txt {
    width: calc(100% - .5rem);
}

.total-submit {
    display: flex;
    border-top: .02rem solid #ccc;
    position: absolute;
    top: 11.96rem;
    bottom: 0;
    width: 100%;
}

.total-m {
    color: #F9841D;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-m {
    background: #f9841d;
    color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}